In [1]:
from Bio import pairwise2
from Bio.pairwise2 import format_alignment

sequence1 = "MKQLEDKVEELLSKNYHLENEVARLKKLV"
sequence2 = "MKQLEDKVEELLSKNYHLENEVARLKKLVGER"

alignments = pairwise2.align.globalxx(sequence1, sequence2)

for alignment in alignments:
    print(format_alignment(*alignment))

MKQLEDKVEELLSKNYHLENEVARLKKLV---
|||||||||||||||||||||||||||||
MKQLEDKVEELLSKNYHLENEVARLKKLVGER
  Score=29

c:\Users\yskon\anaconda3.2\envs\D4_Gen_Test\lib\site-packages\Bio\pairwise2.py:278: BiopythonDeprecationWarning: Bio.pairwise2 has been deprecated, and we intend to remove it in a future release of Biopython. As an alternative, please consider using Bio.Align.PairwiseAligner as a replacement, and contact the Biopython developers if you still need the Bio.pairwise2 module.
  warnings.warn(

In [2]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
sequence = pd.read_csv("sequences.csv")
sequence

                                 seq_id;specie;sequence
0     5kel|ag;Zaire ebolavirus (strain Mayinga-76) (...
1     5kel|ag;Zaire ebolavirus (128952);EAIVNAQPKCNP...
2     5kel|ab;Homo sapiens (9606);EVQLQESGGGLMQPGGSM...
3     5kel|ab;Homo sapiens (9606);DIQMTQSPASLSVSVGET...
4     5kel|ab;Homo sapiens (9606);DVKLLESGGGLVQPGGSL...
...                                                 ...
3028  6jht|ab;Human hepatitis A virus Hu/Australia/H...
3029  6jht|ab;Human hepatitis A virus Hu/Australia/H...
3030  5w1m|ab;Homo sapiens (9606);DIVMTQSPESLAVSLGER...
3031  5w1m|ab;Homo sapiens (9606);VQLVESGGGVVHPGRSLR...
3032  5w1m|ag;Machupo virus (3052317);ELPSLCMLNNSFYY...

[3033 rows x 1 columns]

In [4]:
sequence.columns

Index(['seq_id;specie;sequence'], dtype='object')

In [5]:
sequence[['seq_id', 'species', 'sequence']] = sequence['seq_id;specie;sequence'].str.split(';', expand=True)
sequence

,seq_id;specie;sequence,seq_id,species,sequence
0,5kel|ag;Zaire ebolavirus (strain Mayinga-76) (...,5kel|ag,Zaire ebolavirus (strain Mayinga-76) (128952),IPLGVIHNSTLQVSDVDKLVCRDKLSSTNQLRSVGLNLEGNGVATD...
1,5kel|ag;Zaire ebolavirus (128952);EAIVNAQPKCNP...,5kel|ag,Zaire ebolavirus (128952),EAIVNAQPKCNPNLHYWTTQDEGAAIGLAWIPYFGPAAEGIYTEGL...
2,5kel|ab;Homo sapiens (9606);EVQLQESGGGLMQPGGSM...,5kel|ab,Homo sapiens (9606),EVQLQESGGGLMQPGGSMKLSCVASGFTFSNYWMNWVRQSPEKGLE...
3,5kel|ab;Homo sapiens (9606);DIQMTQSPASLSVSVGET...,5kel|ab,Homo sapiens (9606),DIQMTQSPASLSVSVGETVSITCRASENIYSSLAWYQQKQGKSPQL...
4,5kel|ab;Homo sapiens (9606);DVKLLESGGGLVQPGGSL...,5kel|ab,Homo sapiens (9606),DVKLLESGGGLVQPGGSLKLSCAASGFSLSTSGVGVGWFRQPSGKG...
...,...,...,...,...
3028,6jht|ab;Human hepatitis A virus Hu/Australia/H...,6jht|ab,Human hepatitis A virus Hu/Australia/HM175/197...,DIVLTQSPAIMSASPGEKVTMTCSATSGLSYIHWYQQKSGTSPKRW...
3029,6jht|ab;Human hepatitis A virus Hu/Australia/H...,6jht|ab,Human hepatitis A virus Hu/Australia/HM175/197...,EVKLVESGGGLVKPGGSLKLSCAASAFTITTYGMSWVRQTPEKRLE...
3030,5w1m|ab;Homo sapiens (9606);DIVMTQSPESLAVSLGER...,5w1m|ab,Homo sapiens (9606),DIVMTQSPESLAVSLGERATINCKSSQSVLYSSRSDNKDYLAWYQQ...
3031,5w1m|ab;Homo sapiens (9606);VQLVESGGGVVHPGRSLR...,5w1m|ab,Homo sapiens (9606),VQLVESGGGVVHPGRSLRLSCAASGFTFGTSIMHWVRQAPGKGMQW...
3032,5w1m|ag;Machupo virus (3052317);ELPSLCMLNNSFYY...,5w1m|ag,Machupo virus (3052317),ELPSLCMLNNSFYYMRGGVNTFLIRVSDISVLMKEYDVSIYEPEDL...

In [6]:
sequence = sequence.drop(columns=['seq_id;specie;sequence'])

In [7]:
sequence['sequence']

0       IPLGVIHNSTLQVSDVDKLVCRDKLSSTNQLRSVGLNLEGNGVATD...
1       EAIVNAQPKCNPNLHYWTTQDEGAAIGLAWIPYFGPAAEGIYTEGL...
2       EVQLQESGGGLMQPGGSMKLSCVASGFTFSNYWMNWVRQSPEKGLE...
3       DIQMTQSPASLSVSVGETVSITCRASENIYSSLAWYQQKQGKSPQL...
4       DVKLLESGGGLVQPGGSLKLSCAASGFSLSTSGVGVGWFRQPSGKG...
                              ...
3028    DIVLTQSPAIMSASPGEKVTMTCSATSGLSYIHWYQQKSGTSPKRW...
3029    EVKLVESGGGLVKPGGSLKLSCAASAFTITTYGMSWVRQTPEKRLE...
3030    DIVMTQSPESLAVSLGERATINCKSSQSVLYSSRSDNKDYLAWYQQ...
3031    VQLVESGGGVVHPGRSLRLSCAASGFTFGTSIMHWVRQAPGKGMQW...
3032    ELPSLCMLNNSFYYMRGGVNTFLIRVSDISVLMKEYDVSIYEPEDL...
Name: sequence, Length: 3033, dtype: object

In [8]:
pep='ALDFEQEMT'

In [16]:

# read the matrix a csv file on github
nlf = pd.read_csv('https://raw.githubusercontent.com/dmnfarrell/epitopepredict/master/epitopepredict/mhcdata/NLF.csv', index_col=0)
nlf['X'] = [0.0] * nlf.shape[0]
nlf['U'] = nlf['C']
def show_matrix(m):
    #display a matrix
    cm = sns.light_palette("seagreen", as_cmap=True)
    display(m.style.background_gradient(cmap=cm))

def nlf_encode(seq, nlf_df):
    encoded_sequences = []
    for amino_acid in seq:
        try:
            # Access the column corresponding to the amino acid
            encoded_value = nlf_df[amino_acid].values
            encoded_sequences.append(encoded_value)
        except KeyError:
            # Handle the case where the amino acid is not a column in nlf_df
            print(f"Encoding for amino acid '{amino_acid}' not found.")
            # Appending a vector of zeros with the same length as the encoding
            encoded_sequences.append(np.zeros((nlf_df.shape[0],)))
    
    sequence_vector = np.concatenate(encoded_sequences)
    return sequence_vector

# You will need to load your sequence dataframe here
# sequence_df = pd.read_csv('your_sequence_file.csv')

# Assuming the sequence dataframe has a column 'sequence' that contains the sequences
sequence['encoded'] = sequence['sequence'].apply(lambda x: nlf_encode(x, nlf))

In [10]:
nlf

,A,R,N,D,C,Q,E,G,H,I,...,K,M,F,P,S,T,W,Y,V,X
1,0.42,1.65,1.68,0.81,2.70,1.71,1.56,1.32,0.13,1.52,...,2.03,1.72,2.37,1.41,1.47,0.30,2.83,0.70,1.33,0.0
2,2.07,1.40,0.30,0.13,0.32,1.11,0.48,2.05,1.50,0.45,...,0.26,0.85,0.23,0.27,1.11,0.68,1.79,0.95,1.39,0.0
3,0.67,0.01,0.49,1.36,1.19,0.08,0.87,0.60,1.22,0.39,...,1.22,0.34,0.09,1.09,0.27,0.88,0.16,0.36,0.15,0.0
4,0.01,0.88,0.15,0.63,1.37,0.15,0.02,0.31,0.52,0.36,...,0.98,0.44,0.37,0.77,0.13,0.23,0.14,0.60,0.40,0.0
5,1.10,0.08,0.09,0.15,0.04,0.11,0.07,0.61,1.14,0.01,...,0.05,0.01,0.19,0.87,0.15,0.10,0.42,0.09,0.04,0.0
6,0.32,0.07,0.59,0.10,0.18,0.45,0.13,0.58,0.45,0.55,...,0.32,0.80,0.04,0.33,0.22,0.23,0.84,0.06,0.27,0.0
7,0.20,0.60,0.06,0.45,0.64,0.11,0.22,0.00,0.13,0.06,...,0.10,0.16,0.03,0.04,0.09,0.03,0.13,0.55,0.07,0.0
8,0.09,0.53,0.02,0.31,0.21,0.08,0.15,0.30,0.04,0.10,...,0.73,0.05,0.06,0.27,0.05,0.01,0.06,0.01,0.12,0.0
9,0.20,0.10,0.14,0.10,0.26,0.02,0.09,0.44,0.10,0.02,...,0.11,0.05,0.14,0.43,0.05,0.14,0.04,0.28,0.10,0.0
10,0.09,0.01,0.00,0.03,0.35,0.25,0.10,0.14,0.07,0.08,...,0.19,0.30,0.14,0.06,0.14,0.16,0.18,0.17,0.06,0.0
11,0.11,0.09,0.14,0.15,0.02,0.12,0.04,0.18,0.11,0.10,...,0.14,0.29,0.10,0.10,0.30,0.15,0.32,0.12,0.01,0.0
12,0.15,0.07,0.09,0.02,0.11,0.25,0.05,0.12,0.13,0.12,...,0.02,0.06,0.03,0.14,0.01,0.20,0.26,0.23,0.09,0.0
13,0.01,0.09,0.08,0.16,0.05,0.20,0.12,0.12,0.06,0.18,...,0.03,0.02,0.21,0.03,0.16,0.12,0.15,0.02,0.07,0.0
14,0.06,0.08,0.14,0.12,0.04,0.16,0.28,0.01,0.07,0.01,...,0.02,0.03,0.04,0.03,0.03,0.05,0.08,0.13,0.10,0.0
15,0.02,0.03,0.11,0.07,0.03,0.01,0.03,0.06,0.01,0.12,...,0.05,0.03,0.09,0.01,0.01,0.21,0.04,0.05,0.20,0.0
16,0.16,0.09,0.01,0.11,0.10,0.07,0.09,0.00,0.16,0.02,...,0.01,0.09,0.03,0.04,0.06,0.07,0.01,0.08,0.02,0.0
17,0.07,0.03,0.01,0.01,0.04,0.02,0.06,0.04,0.06,0.20,...,0.01,0.14,0.06,0.03,0.05,0.00,0.06,0.02,0.08,0.0
18,0.03,0.02,0.01,0.05,0.04,0.03,0.02,0.01,0.03,0.01,...,0.02,0.00,0.18,0.01,0.06,0.04,0.12,0.02,0.13,0.0

In [11]:
nlf.to_csv(index=False)

'A,R,N,D,C,Q,E,G,H,I,L,K,M,F,P,S,T,W,Y,V,X\r\n0.42,1.65,1.68,0.81,2.7,1.71,1.56,1.32,0.13,1.52,1.29,2.03,1.72,2.37,1.41,1.47,0.3,2.83,0.7,1.33,0.0\r\n2.07,1.4,0.3,0.13,0.32,1.11,0.48,2.05,1.5,0.45,1.21,0.26,0.85,0.23,0.27,1.11,0.68,1.79,0.95,1.39,0.0\r\n0.67,0.01,0.49,1.36,1.19,0.08,0.87,0.6,1.22,0.39,0.25,1.22,0.34,0.09,1.09,0.27,0.88,0.16,0.36,0.15,0.0\r\n0.01,0.88,0.15,0.63,1.37,0.15,0.02,0.31,0.52,0.36,0.96,0.98,0.44,0.37,0.77,0.13,0.23,0.14,0.6,0.4,0.0\r\n1.1,0.08,0.09,0.15,0.04,0.11,0.07,0.61,1.14,0.01,0.18,0.05,0.01,0.19,0.87,0.15,0.1,0.42,0.09,0.04,0.0\r\n0.32,0.07,0.59,0.1,0.18,0.45,0.13,0.58,0.45,0.55,0.06,0.32,0.8,0.04,0.33,0.22,0.23,0.84,0.06,0.27,0.0\r\n0.2,0.6,0.06,0.45,0.64,0.11,0.22,0.0,0.13,0.06,0.04,0.1,0.16,0.03,0.04,0.09,0.03,0.13,0.55,0.07,0.0\r\n0.09,0.53,0.02,0.31,0.21,0.08,0.15,0.3,0.04,0.1,0.0,0.73,0.05,0.06,0.27,0.05,0.01,0.06,0.01,0.12,0.0\r\n0.2,0.1,0.14,0.1,0.26,0.02,0.09,0.44,0.1,0.02,0.09,0.11,0.05,0.14,0.43,0.05,0.14,0.04,0.28,0.1,0.0\r\n0.09,0.01,0.0,0.03,0.35,0.25,0.1,0.14,0.07,0.08,0.26,0.19,0.3,0.14,0.06,0.14,0.16,0.18,0.17,0.06,0.0\r\n0.11,0.09,0.14,0.15,0.02,0.12,0.04,0.18,0.11,0.1,0.18,0.14,0.29,0.1,0.1,0.3,0.15,0.32,0.12,0.01,0.0\r\n0.15,0.07,0.09,0.02,0.11,0.25,0.05,0.12,0.13,0.12,0.05,0.02,0.06,0.03,0.14,0.01,0.2,0.26,0.23,0.09,0.0\r\n0.01,0.09,0.08,0.16,0.05,0.2,0.12,0.12,0.06,0.18,0.0,0.03,0.02,0.21,0.03,0.16,0.12,0.15,0.02,0.07,0.0\r\n0.06,0.08,0.14,0.12,0.04,0.16,0.28,0.01,0.07,0.01,0.11,0.02,0.03,0.04,0.03,0.03,0.05,0.08,0.13,0.1,0.0\r\n0.02,0.03,0.11,0.07,0.03,0.01,0.03,0.06,0.01,0.12,0.01,0.05,0.03,0.09,0.01,0.01,0.21,0.04,0.05,0.2,0.0\r\n0.16,0.09,0.01,0.11,0.1,0.07,0.09,0.0,0.16,0.02,0.15,0.01,0.09,0.03,0.04,0.06,0.07,0.01,0.08,0.02,0.0\r\n0.07,0.03,0.01,0.01,0.04,0.02,0.06,0.04,0.06,0.2,0.14,0.01,0.14,0.06,0.03,0.05,0.0,0.06,0.02,0.08,0.0\r\n0.03,0.02,0.01,0.05,0.04,0.03,0.02,0.01,0.03,0.01,0.02,0.02,0.0,0.18,0.01,0.06,0.04,0.12,0.02,0.13,0.0\r\n'

In [12]:
sequence

,seq_id,species,sequence,encoded
0,5kel|ag,Zaire ebolavirus (strain Mayinga-76) (128952),IPLGVIHNSTLQVSDVDKLVCRDKLSSTNQLRSVGLNLEGNGVATD...,"[1.52, 0.45, 0.39, 0.36, 0.01, 0.55, 0.06, 0.1..."
1,5kel|ag,Zaire ebolavirus (128952),EAIVNAQPKCNPNLHYWTTQDEGAAIGLAWIPYFGPAAEGIYTEGL...,"[1.56, 0.48, 0.87, 0.02, 0.07, 0.13, 0.22, 0.1..."
2,5kel|ab,Homo sapiens (9606),EVQLQESGGGLMQPGGSMKLSCVASGFTFSNYWMNWVRQSPEKGLE...,"[1.56, 0.48, 0.87, 0.02, 0.07, 0.13, 0.22, 0.1..."
3,5kel|ab,Homo sapiens (9606),DIQMTQSPASLSVSVGETVSITCRASENIYSSLAWYQQKQGKSPQL...,"[0.81, 0.13, 1.36, 0.63, 0.15, 0.1, 0.45, 0.31..."
4,5kel|ab,Homo sapiens (9606),DVKLLESGGGLVQPGGSLKLSCAASGFSLSTSGVGVGWFRQPSGKG...,"[0.81, 0.13, 1.36, 0.63, 0.15, 0.1, 0.45, 0.31..."
...,...,...,...,...
3028,6jht|ab,Human hepatitis A virus Hu/Australia/HM175/197...,DIVLTQSPAIMSASPGEKVTMTCSATSGLSYIHWYQQKSGTSPKRW...,"[0.81, 0.13, 1.36, 0.63, 0.15, 0.1, 0.45, 0.31..."
3029,6jht|ab,Human hepatitis A virus Hu/Australia/HM175/197...,EVKLVESGGGLVKPGGSLKLSCAASAFTITTYGMSWVRQTPEKRLE...,"[1.56, 0.48, 0.87, 0.02, 0.07, 0.13, 0.22, 0.1..."
3030,5w1m|ab,Homo sapiens (9606),DIVMTQSPESLAVSLGERATINCKSSQSVLYSSRSDNKDYLAWYQQ...,"[0.81, 0.13, 1.36, 0.63, 0.15, 0.1, 0.45, 0.31..."
3031,5w1m|ab,Homo sapiens (9606),VQLVESGGGVVHPGRSLRLSCAASGFTFGTSIMHWVRQAPGKGMQW...,"[1.33, 1.39, 0.15, 0.4, 0.04, 0.27, 0.07, 0.12..."
3032,5w1m|ag,Machupo virus (3052317),ELPSLCMLNNSFYYMRGGVNTFLIRVSDISVLMKEYDVSIYEPEDL...,"[1.56, 0.48, 0.87, 0.02, 0.07, 0.13, 0.22, 0.1..."

#### Clean CSV 

resplit bien les colonnes et nom explicit

In [13]:


temp_df = sequence['species'].str.split(' \(', expand=True)


sequence['species_name'] = temp_df[0]


if temp_df.shape[1] > 1:
    sequence['strain_identifier'] = temp_df[1].str.rstrip(')')


if 'strain_identifier' in sequence.columns:
    temp_df = sequence['strain_identifier'].str.split(' ', 1, expand=True)
    sequence['strain'] = temp_df[0]
    sequence['identifier'] = temp_df[1]

# Drop a temporary or unnecessary columns
sequence.drop(columns=['species', 'strain_identifier'], inplace=True)

# Rename the 'seq_id' column to 'sequence_id'
sequence.rename(columns={'seq_id': 'sequence_id'}, inplace=True)

split_data = sequence['sequence_id'].str.split('|', expand=True)

# Assigner les valeurs scindÃ©es aux nouvelles colonnes 'id' et 'type'
sequence['id'] = split_data[0]
sequence['type'] = split_data[1] if split_data.shape[1] > 1 else None

sequence = sequence.drop('sequence_id', axis=1)



######  TYPE 


sequence['species_name'] = sequence['species_name'].astype('string')
sequence['strain'] = pd.to_numeric(sequence['strain'], errors='coerce')
sequence['type'] = sequence['type'].astype('string')

C:\Users\yskon\AppData\Local\Temp\ipykernel_27880\831489528.py:12: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  temp_df = sequence['strain_identifier'].str.split(' ', 1, expand=True)

In [14]:
sequence

,sequence,encoded,species_name,strain,identifier,id,type
0,IPLGVIHNSTLQVSDVDKLVCRDKLSSTNQLRSVGLNLEGNGVATD...,"[1.52, 0.45, 0.39, 0.36, 0.01, 0.55, 0.06, 0.1...",Zaire ebolavirus,NaN,Mayinga-76,5kel,ag
1,EAIVNAQPKCNPNLHYWTTQDEGAAIGLAWIPYFGPAAEGIYTEGL...,"[1.56, 0.48, 0.87, 0.02, 0.07, 0.13, 0.22, 0.1...",Zaire ebolavirus,128952.0,None,5kel,ag
2,EVQLQESGGGLMQPGGSMKLSCVASGFTFSNYWMNWVRQSPEKGLE...,"[1.56, 0.48, 0.87, 0.02, 0.07, 0.13, 0.22, 0.1...",Homo sapiens,9606.0,None,5kel,ab
3,DIQMTQSPASLSVSVGETVSITCRASENIYSSLAWYQQKQGKSPQL...,"[0.81, 0.13, 1.36, 0.63, 0.15, 0.1, 0.45, 0.31...",Homo sapiens,9606.0,None,5kel,ab
4,DVKLLESGGGLVQPGGSLKLSCAASGFSLSTSGVGVGWFRQPSGKG...,"[0.81, 0.13, 1.36, 0.63, 0.15, 0.1, 0.45, 0.31...",Homo sapiens,9606.0,None,5kel,ab
...,...,...,...,...,...,...,...
3028,DIVLTQSPAIMSASPGEKVTMTCSATSGLSYIHWYQQKSGTSPKRW...,"[0.81, 0.13, 1.36, 0.63, 0.15, 0.1, 0.45, 0.31...",Human hepatitis A virus Hu/Australia/HM175/1976,12098.0,None,6jht,ab
3029,EVKLVESGGGLVKPGGSLKLSCAASAFTITTYGMSWVRQTPEKRLE...,"[1.56, 0.48, 0.87, 0.02, 0.07, 0.13, 0.22, 0.1...",Human hepatitis A virus Hu/Australia/HM175/1976,12098.0,None,6jht,ab
3030,DIVMTQSPESLAVSLGERATINCKSSQSVLYSSRSDNKDYLAWYQQ...,"[0.81, 0.13, 1.36, 0.63, 0.15, 0.1, 0.45, 0.31...",Homo sapiens,9606.0,None,5w1m,ab
3031,VQLVESGGGVVHPGRSLRLSCAASGFTFGTSIMHWVRQAPGKGMQW...,"[1.33, 1.39, 0.15, 0.4, 0.04, 0.27, 0.07, 0.12...",Homo sapiens,9606.0,None,5w1m,ab
3032,ELPSLCMLNNSFYYMRGGVNTFLIRVSDISVLMKEYDVSIYEPEDL...,"[1.56, 0.48, 0.87, 0.02, 0.07, 0.13, 0.22, 0.1...",Machupo virus,3052317.0,None,5w1m,ag

In [15]:
sequence["identifier"]
identif_null = sequence['identifier'].isna().sum()
print(f"nombre de nan': {identif_null}")

nombre de nan': 2965

### ModÃ¨le  Siammois