In [ ]:
dataset_dir = "../data/SAbDab"

df_match = pd.read_csv(os.path.join(dataset_dir, "data.csv"), sep=";")
df_seq = pd.read_csv(os.path.join(dataset_dir, "sequences.csv"), sep=";")

In [ ]:
df_match.head()

        ab       ag  interaction
0  5kel|ab  5kel|ag            1
1  5kel|ab  6cwt|ag            0
2  5kel|ab  4fp8|ag            0
3  5kel|ab  4yjz|ag            0
4  5kel|ab  6j15|ag            0

### Filter 

Remove keys which does not have both an antigen and an anticorps.

In [ ]:
df_filtered = df_match[df_match["ab"].isin(df_seq["seq_id"]) & df_match["ag"].isin(df_seq["seq_id"])]
df_filtered.shape

(345323, 3)

In [ ]:
df_filtered.to_csv(os.path.join(dataset_dir, "data_filtered.csv"), sep=";", index=False)

In [ ]:
df_match.shape

(421821, 3)